@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto+Mono:wght@500&display=swap');

body {
    font-family: "Open Sans", sans-serif;
    font-size: 1rem;
}


.container {
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
}

.form-select {
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.checkbox {
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.btn {
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

#main-container {
    padding-top: 20px;
    padding-right: 40px;
    padding-bottom: 20px;
    padding-left: 40px;
}

#hint {
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: monospace;
    color: gray;
}

#board {
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: monospace;
}

table {
    width: 60%;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
}

td {
    width: 14.29%;
    position: relative;
    text-align: center;
    vertical-align: middle;
}

td:after {
    content: '';
    display: block;
    margin-top: 100%;
}

td .cell {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #DCB579;
    font-size: 3vw;
    line-height: 5vw;
    font-family: 'Roboto Mono', monospace;
    vertical-align: middle;
}
